Base
{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="col-12 mb-4">
    <h1>Bienvenido a mi página</h1>
    <p>En este sitio encontrarás información sobre animales exóticos, vehículos antiguos y las maravillas del mundo.</p>
  </div>

  <div class="col-md-6">
    <img src="https://cdn.pixabay.com/photo/2016/11/29/03/06/nature-1867434_1280.jpg" class="img-fluid rounded" alt="Naturaleza">
  </div>
  <div class="col-md-6">
    <img src="https://cdn.pixabay.com/photo/2016/06/29/09/14/travel-1481368_1280.jpg" class="img-fluid rounded" alt="Viaje">
  </div>
</div>
{% endblock %}