{% extends "base.html" %}

{% block title %}Acerca de Mí (Simple){% endblock %}

{% block content %}

<header class="text-center mb-5 p-3 bg-white rounded shadow-sm">
    <h1 class="display-4 text-primary fw-bold">Un Poco Sobre Mí</h1>
    <p class="lead text-muted">Mis intereses y sueños.</p>
</header>

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-lg border-0">
            <div class="card-body p-5">
                <h2 class="card-title text-dark mb-4">Pasiones y Metas</h2>
                
                <p class="card-text fs-5 text-secondary">
                    Me encanta la compañía tranquila de los gatitos, y también soy un gran aficionado a 
                    los carros, admirando tanto su diseño como su mecánica. En mi tiempo libre, disfruto
                     mucho de los videojuegos online, especialmente 
                    de los simuladores, que me ofrecen un desafío inmersivo. Mirando hacia el futuro, 
                    mi principal objetivo es poder adquirir y establecer mi propio hogar, una casa en un
                     lugar bonito y sereno donde pueda construir mi vida y disfrutar de todas estas 
                     pasiones con mi pareja.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}