{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="col-12 mb-4">
    <h1>Bienvenido a mi página</h1>
    <p>En este sitio encontrarás información sobre animales exóticos, vehículos antiguos y las maravillas del mundo, muchade esta informacion podria resultarte bastante
      interesante. Disfruta de la pagina.</p>
  </div>

  <div class="col-md-6">
    <img src="" class="img-fluid rounded" alt="Naturaleza">
  </div>
  <div class="col-md-6">
    <img src="" class="img-fluid rounded" alt="Viaje">
  </div>
</div>

{% endblock %}

