
{% extends 'base.html' %}
{% block title %}Maravillas del Mundo{% endblock %}
{% block content %}
<h2 class="text-center mb-4">Las 7 Maravillas del Mundo</h2>
<p class="text-center">Obras majestuosas que muestran el ingenio y la historia de la humanidad.</p>

<div class="row text-center">
  <div class="col-md-4 mb-3"><strong>Chichén Itzá</strong><br><a href="https://youtu.be/9N6V7tI4Dyw" target="_blank">Ver video</a></div>
  <div class="col-md-4 mb-3"><strong>Coliseo Romano</strong><br><a href="https://youtu.be/zJ0_8zAaX6o" target="_blank">Ver video</a></div>
  <div class="col-md-4 mb-3"><strong>Petra</strong><br><a href="https://youtu.be/Mpo5Rtp0Jtk" target="_blank">Ver video</a></div>
  <div class="col-md-4 mb-3"><strong>Machu Picchu</strong><br><a href="https://youtu.be/XiZr2B5B8j0" target="_blank">Ver video</a></div>
  <div class="col-md-4 mb-3"><strong>Cristo Redentor</strong><br><a href="https://youtu.be/8Y0y1sQ7-4E" target="_blank">Ver video</a></div>
  <div class="col-md-4 mb-3"><strong>Taj Mahal</strong><br><a href="https://youtu.be/E3C8Upb1R2E" target="_blank">Ver video</a></div>
  <div class="col-md-12"><strong>Muralla China</strong><br><a href="https://youtu.be/ZHfXj3JqkXk" target="_blank">Ver video</a></div>
</div>
{% endblock %}