{% extends "base.html" %}

{% block title %}
Crea una cuenta - Registro de Usuario
{% endblock %}

{% block content %}
<h1 class="text-center">Crea una cuenta</h1>
<p class="text-center">Es rápido y fácil</p>

<form method="POST" action="{{ url_for('register_user') }}">
    <section class="row">
        <div class="col-6 mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
                value="{{ request.form.get('nombre', '') }}" required>
        </div>
        <div class="col-6 mb-3">
            <label for="apellido" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellidos" 
                value="{{ request.form.get('apellido', '') }}">
        </div>
    </section>

    <section class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <select class="form-select" id="dia" name="dia" aria-label="Select Día">
                    <option >Día</option>
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                </select>
                <label for="dia">Día</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <select class="form-select" id="mes" name="mes" aria-label="Select Mes">
                    <option >Mes</option>
                    <option >Enero</option>
                    <option >Febrero</option>
                    <option >Marzo</option>
                </select>
                <label for="mes">Mes</label>
            </div>
        </div>

        <div class="col-4 mb-3 text-end">
            <div class="form-floating">
                <input type="number" class="form-control" id="anacimiento" name="anacimiento" placeholder="Año"
                    value="{{ request.form.get('anacimiento', '') }}">
                <label for="anacimiento">Año</label>
            </div>
        </div>
    </section>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="mujer" name="genero" value="mujer" 
        >label> class="form-check-label" for="mujer">Mujer</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="hombre" name="genero" value="hombre" {
        label class="form-check-label" for="hombre">Hombre</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="personalizado" name="genero" value="personalizado" 
        
        label class="form-check-label" for="personalizado">Personalizado</label>
    </div>

    <input class="form-control mt-3" type="email" id="email" name="email"
        placeholder="Correo electrónico o número de teléfono" value="{{ request.form.get('email', '') }}" required>

    <input type="password" id="contrasena" name="contrasena" class="form-control mt-3" placeholder="Contraseña"
        aria-describedby="passwordHelpBlock" required>

    <input type="password" id="confirmacion" name="confirmacion" class="form-control mt-3"
        placeholder="confirma contraseña" aria-describedby="passwordHelpBlock" required>

    <div id="passwordHelpBlock" class="form-text">
        tu contraseña debe contener al menos 8 caracteres para que sea segura
    </div>


    <section class="mt-4 text-center">
        <button type="submit" class="btn btn-primary me-2">Registrarme</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
    </section>
</form>
{% endblock %}